@import "bootstrap";

.navbar{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('nav-bg.png');
}

.navbar-inverse a.navbar-brand{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: white;
}

.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar{
  margin: 0;
}

.frosty{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body{
  background: image_url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1{
  margin: 10px;
}

.sign-background{
  background: image_url('sign-bg.png');
  color: white;
  border-radius: 14px;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.courses-title{
  color: #0651ad;
}

.courses-title:hover {
  text-decoration: none;
  color: #b86800;
}

.lesson:hover{
  text-decoration: none;
}

/*.course-index-image{
  height: 250px;
  width: 100%;
  object-fit: cover;
}*/

.btn-primary {
  color: #fff;
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  border-color: #6E7FF3;
}

.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(-225deg, #4a5b91 0%, #6460d7 48%, #8291fe 100%);
  box-shadow: 0 0 0 3px rgba(71, 83, 197, 0.3);
  border-color: #6E7FF3;
}

.btn-info{
  color: #fff;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-color: #89f7fe;
}

.btn-info:hover{
  color: #fff;
  background-image: linear-gradient(120deg, #a3f8fe 0%, #7ab1fe 100%);
  box-shadow: 0 0 0 3px rgba(39, 204, 204, 0.3);
  border-color: #89f7fe;
}

.btn-danger {
  color: #fff;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  border-color: #ffb199;
}

.btn-danger:hover {
  color: #fff;
  background-image: linear-gradient(to top, #fe285c 0%, #fec5b4 100%);
  box-shadow: 0 0 0 3px rgba(232, 69, 69, 0.3);
  border-color: #ffb199;
}

.btn-warning {
  color: #fff;
  background-image: linear-gradient(-60deg, #ffb139 0%, #ffca7a 100%);
  border-color: #ffca7a;
}

.btn-warning:hover {
  color: #fff;
  background-image: linear-gradient(-60deg, #feb94e 0%, #fcd292 100%);
  border-color: #ffca7a;
  box-shadow: 0 0 0 3px rgba(255, 202, 122, 0.3);
}

.btn-success {
  color: #fff;
  background-image: linear-gradient(-20deg, #25a734 0%, #33de46 100%);
  border-color: #33de46;
}

.btn-success:hover {
  color: #fff;
  background-image: linear-gradient(-20deg, #35c145 0%, #42ef56 100%);
  box-shadow: 0 0 0 3px rgba(46, 204, 64, 0.3);
  border-color: #42ef56;
}
